/** @format */
main {
  width: 700px;
  border-left: 1px solid rgba(196, 196, 196, 1);
  border-right: 1px solid rgba(196, 196, 196, 1);
}
.header {
  padding: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border-bottom: 1px solid rgba(196, 196, 196, 1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.body {
  display: flex;
  flex-direction: column;
}
.card {
  padding: 20px;
  border-bottom: 1px solid rgba(196, 196, 196, 1);
  display: flex;
  gap: 15px;
  justify-content: start;
  align-items: start;
}
.user__logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 60px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
  }
}
.textCnt {
  width: 100%;
}
.user__info {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  p {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.6);
    span {
      font-weight: 700;
      font-size: 20px;
      line-height: 27px;
      color: #000000;
    }
  }
}
.user__content {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 22px;
}

.user__actives {
  width: 100%;
  display: flex;
  justify-content: space-around;
  div {
    display: flex;
    align-items: center;
    cursor: pointer;
    i {
      padding: 10px;
      border-radius: 50%;
    }
  }
}
.likes {
  &:hover {
    color: #ef1c5c;
    i {
      background-color: rgba(239, 28, 92, 0.1);
    }
  }
}
.retweets {
  &:hover {
    color: #0cb345;
    i {
      background-color: rgba(12, 179, 69, 0.1);
    }
  }
}
.views {
  &:hover {
    color: #1da1f2;
    i {
      background-color: rgba(29, 161, 242, 0.1);
    }
  }
}
.bodyProfile {
  padding: 20px;
  font-size: 25px;
}
